html{
    box-sizing: border-box;
    scroll-behavior:smooth;
}

*,*::after,*::before{
    box-sizing:inherit;
}

ul[class],
ol[class]{
    padding:0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body{
  font-family: 'Inter', sans-serif;
  color:#0A0A0A;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

a{
  text-decoration: none;
  color: inherit;
}

.container{
  max-width: 1200px;
  padding: 0 60px;
  margin: 0 auto;
}

.header__nav{
  display: flex;
  justify-content: space-between;
  background-color: #FAFAFA;
  margin-top: 12px;
  max-width: 1080px;
  border-radius: 16px;
  
}

.header__nav-list{
  display: flex;
  justify-content: center;
}

.header__nav-item{
  padding: 23px 32px;
  font-size: 14px;
  line-height: 24px;
}

.header__button{
  background: #0A0A0A;
  border-radius: 32px;
  padding: 0 32px;
  margin-top: 12px;
  margin-right: 16px;
  height: 46px;
  color: #FAF9F7;
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.header__wrapper-img{
  display: flex;
  justify-content: center;
  padding-top: 78px;
 
}

.header__img1{
  width: 400px;
  height: 280px;
  margin-right: 48px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.header__titel{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 142px;
  line-height: 160px;
  padding-top: 42px;
}

.header__text{
  max-width: 453px;
  padding-top: 57px;
  padding-bottom: 47px;
}

.green-button{
  padding: 0 62px;
  background: #C6F572;
  border-radius: 40px;
  border: none;
  color:#0A0A0A;
}

.quote{
  background-color:#0A0A0A ;
  color:#FAF9F7; 
  margin-top: 136px;
}

.quote__titel{
  padding-top: 119px;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

.quote__subtitel{
  display: block;
  text-align: center;
  font-style: normal;
  padding-top: 33px;
  padding-bottom: 95px;
  font-size: 11px;
  line-height: 16px;
  color: #504F4F;
}

.hiw__wrapper{
  display: flex;

}

.hiw__left{
  min-width: 720px;
}

.hiw__left-img{
  padding: 250px 60px 350px 0;
}

.hiw__right{
  background: #FAF9F7;
  min-width: 480px;
}

.hiw__right-titel{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  padding: 90px 71px 90px 60px;
}

.hiw__right-subtitel{
  max-width: 322px;
  padding-left: 60px;
  font-weight: 400;
  padding-bottom: 18px;
}

.hiw__right-box{
  background-image: url(../img/box-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  margin-left: 60px;
}

.hiw__right-box-text{
  padding-left: 11px;
  padding-top: 28px;
  max-width: 349px;
  font-size: 12px;
  line-height: 16px;
  color: #504F4F;
}

.pricing{
  background: #FBF19B;
}

.pricing__titel{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 57px;
  line-height: 64px;
  text-align: center;
  color: #0A0A0A;
  padding-top: 231px;
  padding-bottom: 43px;
}

.pricing__subtitel{
  font-size: 16px;
  line-height: 24px;
  max-width: 478px;
  margin: 0 auto;
  padding-bottom: 254px;
}

.quote2{
  background: #D4F2F9;
}

.quote__titel2{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding-top: 159px;
}

.quote__titel2 + .quote__titel2{
  padding-top: 0;
}

.quote__subtitel2{
  display: block;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: #504F4F;
  padding-top: 31px;
  font-style: normal;
  padding-bottom: 95px;
}

.benefits{
  background-color:#0A0A0A;
  color: #FAF9F7;
  padding-bottom: 170px;
}

.benefits__titel{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  padding-top: 191px;
}

.benefits__wrapper{
  display: flex;
  justify-content: center;
  padding-top: 169px;
  color:#0A0A0A;
}

.purple{
  background: #F4D2DC;
}

.yellow{
  background-color:#FBF19B;
}

.green{
  background: #DBFAA8;
}

.benefits__box{
  margin-right: 12px;
  border-radius: 12px;
  position: relative;
  height: 480px;
  max-width: 308px;
  
}

.benefits__box-number{
  font-size: 13px;
  line-height: 14px;
  margin-top: 321px;
  margin-left: 32px;
  transition: all 1.5s cubic-bezier(1, 1, .5, 1.2);
}

.benefits__box-titel{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  margin-top: 21px;
  margin-left: 32px;
  max-width: 140px;
}

.benefits__box-text{
  margin: 30px 32px 0 32px;
}

.contact{
  background-color: #0A0A0A;
  height: 180vh;
}

.contact__wrapper{
  position: relative;
}

.contact__form{
  background-color: #FBF19B;
  position: absolute;
  z-index: 2;
  top: 240px;
  max-width: 840px;
  border-radius: 24px;
  width: 840px;
  left: 60px;
}

.form__btn{
  width: 176px;
  height: 46px;
  margin-left: 92px;
  margin-top: 32px;
  margin-bottom: 112px;
  background: #0A0A0A;
  border-radius: 40px;
  cursor: pointer;
}

.contact-img{
  position: absolute;
  z-index: 1;
  right: 103px;
}

.contact__titel{
  padding-top: 91px;
  margin-left: 96px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 53px;
  max-width: 341px;
}

.contact__subtitel{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-left: 96px;
  padding-top: 28px;
  max-width: 434px;
}

.input__box{
  display: flex;
  flex-direction: column;
}

.input-box{
  margin-left: 96px;
  margin-top: 96px;
  max-width: 480px;
  background-color: #FBF19B;
  border: none;
  border-bottom: 2px solid #0A0A0A;
}

.input-box:focus{
  outline: 0;
  border:none;
  border-bottom: 2px solid #0A0A0A;
}

.input-box:active{
  outline: 0;
  border:none;
  border-bottom: 2px solid #0A0A0A;
}

.chek__box{
  display: flex;
  margin-left: 96px;
  margin-top: 55px;
}
input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked), 
input[type="radio"]:checked, 
input[type="radio"]:not(:checked) 
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label, 
input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 2px solid #0A0A0A;
    background-color: #FBF19B;
    border-radius: 4px;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 5px;
    top: 5px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #0A0A0A;
    border-bottom: 4px solid #0A0A0A;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #0A0A0A;
}

input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after, 
input[type="radio"]:checked + label:after {
    opacity: 1;
}

.footer{
  background-color: #DBFAA8;
}

.footer__list{
  display: flex;
  justify-content: end;
}

.footer__list-item{
  padding-top: 120px;
  padding-left: 15px;
}

.line{
  height: 1px;
  max-width: 1200px;
  background-color: #0A0A0A;
  margin-top: 13px;
}

.footer__wrapper{
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 25px;
}

.footer__wrapper-link + .footer__wrapper-link{
  padding-left: 12px;
}