<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FIGMA | Макеты для верстки — Верстка страницы</title>
	<meta name="description" content="Макет для верстки сайта был взял с телеграм канала FIGMA | Макеты для верстки">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normolize.css" />
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style.css"/>
    
</head>
<body>

    <!-- Начало: Данный блок удалять нельзя -->
    <div class="maketforfigma">
        <a href="https://t.me/s/FigmaToHTML" target="_blank">
            <img src="img/logo.png">
        </a>
        <div>
            <p>
                Данная верстка, была реализована пользователем в рамках обучающего телеграм канал <a href="https://t.me/s/FigmaToHTML" target="_blank">FIGMA | Макеты для верстки</a>
            </p>
            <p>
                При помощи <a href="https://t.me/HtmlCodeForMoney_bot?from_git" target="_blank">Telegram-бота</a> пользователь получил оплату за верстку этого макета.
            </p>
        </div>
    </div>
    <!-- Конец -->

    <div class="main">
        <header class="header">
            <div class="container">
                <nav class="header__nav">
                    <ul class="header__nav-list">
                        <li class="header__nav-item">
                            <a href="#hiw" class="header__nav-link">
                                How it works
                            </a>
                        </li>
                        <li class="header__nav-item">
                            <a href="#pricing" class="header__nav-link">
                                Pricing
                            </a>
                        </li>
                        <li class="header__nav-item">
                            <a href="#benefits" class="header__nav-link">
                                Benefits
                            </a>
                        </li>
                    </ul>
                    <button class="header__button">
                        Sign up
                    </button>
                </nav>
                <div class="header__wrapper-img">
                    <img src="./img/header-img1.png" alt="" class="header__img1">
                    <img src="./img/header-img2.png" alt="" class="header__img2">
                </div>
                <h1 class="header__titel">
                    Scale knowledge
                </h1>
                <p class="header__text">
                    Question Base is a new kind of knowledge base. Powered by AI it answers your team’s questions inside Slack. Automatically.
                </p>
                <button class="header__button green-button">
                    Sign up
                </button>
            </div>
        </header>
        <div class="quote">
            <blockquote class="quote__titel">
                “Growing fast requires fast answers."
            </blockquote>
            <cite class="quote__subtitel">
                — Kasper, CEO Question Base
            </cite>
        </div>
        <section class="hiw" id="hiw">
            <div class="container">
                <div class="hiw__wrapper">
                    <div class="hiw__left">
                        <img src="./img/twitter.png" alt="" class="hiw__left-img">
                    </div>
                    <div class="hiw__right">
                        <h2 class="hiw__right-titel">
                            Instant answers inside Slack.
                        </h2>
                        <h3 class="hiw__right-subtitel">
                            Question Base actively monitors the conversation and discretely answers people when a new question is posted.
                        </h3>
                        <div class="hiw__right-box">
                            <p class="hiw__right-box-text">
                                Questions Base AI identifies when a question is posted and provides an answer within 3 sec.
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <div class="pricing" id="pricing">
            <h2 class="pricing__titel">
                Pricing
            </h2>
            <p class="pricing__subtitel">
                Question Base is currently in beta and is free for this time period. There will always be a 30 days no commitment trial and we expect to announce pricing for teams of all sizes in 2023.
            </p>
        </div>
        <div class="quote2">
            <blockquote class="quote__titel2">
                “No tiers, no complexity.
            </blockquote>
            <blockquote class="quote__titel2">
                Pay only for what you use.”
            </blockquote>
            <cite class="quote__subtitel2">
                — Yana, CSO Question Base
            </cite>
        </div>
        <section class="benefits" id="benefits">
            <div class="container">
                <h3 class="benefits__titel">
                    Most team leads spend their time answering the same questions over and over. Not anymore.
                </h3>
                <div class="benefits__wrapper">
                    <div class="benefits__box purple">
                        <p class="benefits__box-number">01</p>
                        <h4 class="benefits__box-titel">
                            Scale up knowledge
                        </h4>
                        <p class="benefits__box-text">
                            Your Slack contains a wealth of knowledge. Question Base’s AI uncovers and surfaces these insights to your team.
                        </p>
                    </div>
                    <div class="benefits__box yellow">
                        <p class="benefits__box-number">02</p>
                        <h4 class="benefits__box-titel">
                            Reduce interruptions
                        </h4>
                        <p class="benefits__box-text">
                            Let people get the answers they need without interrupting the work of others. Right from inside Slack.
                        </p>
                    </div>
                    <div class="benefits__box green">
                        <p class="benefits__box-number">03</p>
                        <h4 class="benefits__box-titel">
                            Grow Organically
                        </h4>
                        <p class="benefits__box-text">
                            There’s no extra work involved. Once you add Question Base to a Slack channel it will automatically start answering to questions.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact">
            
            <div class="container">
                <div class="contact__wrapper">
                    <img class="contact-img" src="./img/contact-img.png" alt="">
                    <form class="contact__form">
                    
                        <h3 class="contact__titel">
                            Scale knowledge effortlessly.
                        </h3>
                        <h4 class="contact__subtitel">
                            We are gradually rolling out Question Base to teams. Leave your contacts and be the first to know.
                        </h4>
                        <div class="input__box">
                            <input class="input-box" type="text">
                            <input class="input-box" type="text">
                            <input class="input-box" type="text">
                        </div>
                        <div class="chek__box">
                            <input type="checkbox" checked class="contact-checkbox" id="check">
                            <label class="form__text">
                                I agree with Question Base's Privacy Policy
                            </label>
                        </div>
                        <button class="form__btn"></button>
                        
                    </form>
                    
                </div>
                
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="#" class="footer__list-link">
                            <img src="./img/in.svg" alt="" class="footer__social-link">
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a href="#" class="footer__list-link">
                            <img src="./img/insta.svg" alt="" class="footer__social-link">
                        </a>
                    </li>
                </ul>
                <div class="line"></div>
                <div class="footer__wrapper">
                    <p class="footer__cop">
                        © Question Base 2022 • Created in Denmark
                    </p>
                    <div class="footer__wrapper-box">
                        <a href="#" class="footer__wrapper-link">Support</a>
                        <a href="#" class="footer__wrapper-link">Privacy Policy</a>
                        <a href="#" class="footer__wrapper-link">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>
        
        <script src="js/main.js"></script>
    </div>

</body>
</html>